.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: rgb(182, 187, 196);
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 100;
  transition: background-color 0.3s ease;
}

.link {
  display: flex;
  align-items: center;
}

.active {
  background-color: rgb(182, 187, 196);
}

.scrolling {
  background-color: rgb(240, 236, 229);
}
