.padding-top-small {
  padding-top: 14px;
}

.margin-right-small {
  margin-right: 14px;
}

.baseline {
  align-items: baseline;
}

.flex {
  display: flex;
  justify-content: center;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.api-block {
  height: 40px;
  align-items: center;
}

.height30 {
  height: 30px;
}

.input {
  width: 300px;
  height: 24px;
  border: none;
  border-radius: 4px;
}

.padding-top-small {
  padding-top: 14px;
}

.explorer-block {
  min-width: 99px;
  position: relative;
  left: 0px;
}

.topL {
  position: relative;
  top: 37px;
}
